h2.bold-call {
  font-size: 3rem;
  animation: fadeIn ease-in-out 500ms;
}

h3.bold-call {
  font-size: 2rem;
  animation: fadeIn ease-in-out 1000ms;

}

@keyframes fadeIn {
  0% {
    opacity: 0%
  }


  100% {
    opacity: 100%
  }
}

.upper-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px;
}

.simulate-sales-button {
  margin-top: 12px;
  padding: 24px;
  font-size: 1.5rem;
}



.store-form-container {
  margin-left: 60px;
  padding: 40px;
  background-color: #c0c0c013;
  border-radius: 18px;
  border: 1px solid #c9c9c91a;
}

.store-form-header {
  font-size: 1.4rem;
  font-weight: 600;
}

.store-form {
  display: flex;
  flex-direction: column;
}

.store-form>* {
  margin: 6px 0px;
}

.store-form label {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  margin: 6px 0px;
  max-width: 10em;
  position: relative;
}

.store-form input {
  background-color: #8b99a1;
  border: 1px solid #5a5a5a;
  border-radius: 4px;
}

.min-max-inputs {
  display: flex;
  align-items: center;
}

.min-max-inputs>label {
  margin-right: 12px;
}

input#min-customers,
input#max-customers {
  width: 4em;
}

input#average-cookies {
  width: 4em;
}

input {
  line-height: 1.1rem;
  font-size: 1.0rem;
}

input:focus {
  outline: none;
}

.new-sales-data {
  margin-top: 6px;
}

.new-sales-data h3 {
  font-size: 1.2rem;
  margin-bottom: 6px;
  font-weight: 600;
}

.submit-form-button {
  padding: 12px 24px;
  font-size: 1.2rem;
  align-self: center;
  justify-self: center;
}

.submit-form-button,
.simulate-sales-button {
  transition: background-color 250ms;
  border: none;
  background-color: #c0b9b74d;
  color: #d8d6d6;
  border-radius: 10px;
}

.submit-form-button:hover,
.simulate-sales-button:hover {
  background-color: #576e854d;
}

.submit-form-button:active,
.simulate-sales-button:active {
  background-color: #c77c724d;
}

.table-header {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 36px 0px 12px 36px;
  background-color: #0000000c;
}

.hourly-table-container {
  box-sizing: border-box;
  background-color: #2f4753;
  width: 100vw;
  margin: 24px 0;
}

.hourly-table {
  text-align: center;
  border-spacing: 12px;
  border-collapse: collapse;
  width: 95vw;
  table-layout: fixed;
  box-sizing: border-box;
}

.hourly-table * {
  padding: 10px;
}

tbody :nth-child(odd).store-row {
  background-color: #254453;
}

.row-head {
  box-sizing: border-box;
  border-right: 1px solid #cccccc;
  width: 10rem;
  text-align: end;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 2px;
}

.hourly-table th {
  font-size: 1.1rem;
  font-weight: 800;
}

.hourly-table td {
  font-size: 1rem;
}

table tfoot tr {
  font-weight: 600;
}

.staff-data.changed {
  background-color: #ffffff1c;
}

col.locations {
  width: max-content;
}

col.hours {
  width: 1fr;
}

.warning-box {
  font-size: .8em;
  position: absolute;
  padding: 8px;
  bottom: 1.2em;
  background-color: #ce5959dc;
  color: #222222;
  border-radius: 4px;
  transition: opacity 500ms;
  opacity: 0%;
}

.displayed {
  opacity: 100%
}

.hidden {
  opacity: 0%;
}