body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f4753;
  color: #cccccc;
  height: 100vh;
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  overflow-x: hidden;
}

header {
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  align-items: flex-end;
}

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 0px 0px 60px;
}

.header-logo-text {
  font-family: 'Anton', sans-serif;
  /* font-weight: 800; */
  font-size: 2rem;
  margin: 8px 0px;
  color: #f0b2aadd;
}

.header-logo-text em {
  color: #ff8677dd;
}

.header-logo-image {
  filter: brightness(0%) blur(1px) invert(.61) sepia(81%) hue-rotate(315deg) saturate(5);
  opacity: 90%;
}

.header-navbar {
  display: flex;
  height: 4rem;
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: 60px;
}

.header-navbar a {
  text-decoration: none;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a:link {
  color: #dbd6d5;
}

nav a:visited {
  color: #dbd6d5;
}

nav a:hover {
  background-color: #44647560;
}

a:link,
a:visited,
a:hover {
  text-decoration: none;
}

footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  background-color: #2c3d46;
  width: 100vw;
  padding: 20px 0px;
}

.info-section {
  padding: 24px;
}

.info-section h2 {
  font-size: 1.4rem;
  margin-bottom: 12px;
}

.hours-contact-footer {
  display: flex;
  justify-content: center;
}

.hours-head-small {
  font-size: .75em;
}

.contact-list dt {
  margin-top: 8px;
}

.contact-list dd {
  margin-top: 4px;
}

.github-logo {
  width: 48px;
}

.linkedin-logo {
  width: 58px;
}

.github-logo,
.linkedin-logo {
  margin: 0px 24px;
}

.dev-credit {
  padding-top: 8px;
}